<div id="practice" class="flex flex-col justify-center items-center">
  <div class="text-center pt-28">
    <article class="text-center">
      <h1 class="text-3xl md:text-6xl tracking-wide py-5 font-semibold">
        {{ "SPECIALTY.TITLE" | translate }}
      </h1>
      <p class="my-3">{{ "SPECIALTY.SUBTITLE" | translate }}</p>
    </article>

    <button
      class="btn sm:btn-sm md:btn-md lg:btn-lg btn-secondary text-white my-3"
    >
      {{ "SPECIALTY.BUTTON.LABEL" | translate }}
    </button>
  </div>

  <!-- Grid start of the cards -->

  <!-- Have to fix the Routes ofr the Images and find new ones -->
  <div
    class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10 place-items-center my-4"
  >
    <div
      *ngFor="let card of cards"
      class="card card-compact bg-base-100 shadow-xl max-w-96"
    >
      <figure>
        <img
          src="{{ card.img }}"
          alt="law"
          loading="lazy"
          class="max-w-96 h-[280px]"
        />
      </figure>
      <div
        class="card-body max-w-96 h-[260px] flex flex-col justify-center items-center"
      >
        <h2 class="text-3xl font-semibold my3">
          {{ card.title | translate }}
        </h2>
        <p>{{ card.subtitle | translate }}</p>
      </div>
    </div>
  </div>
</div>
