<div class="py-3">
  <div class="text-center">
    <article class="text-center">
      <h1 class="text-3xl md:text-6xl tracking-wide py-5 font-semibold">
        {{ "SPECIALTY.TITLE" | translate }}
      </h1>
      <p class="my-3">{{ "SPECIALTY.SUBTITLE" | translate }}</p>
    </article>

    <button
      class="btn btn-xs sm:btn-sm md:btn-md lg:btn-lg btn-secondary text-white my-3"
    >
      {{ "SPECIALTY.BUTTON.LABEL" | translate }}
    </button>
  </div>

  <!-- Grid start of the cards -->

  <!-- Have to fix the Routes ofr the Images and find new ones -->
  <div
    class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10 place-items-center my-4"
  >
    <div class="card card-compact w-96 bg-base-100 shadow-xl">
      <figure>
        <img
          src="../../../assets/images/labor.jpg"
          alt="Shoes"
          loading="lazy"
          class="max-w-[400px] h-[280px]"
        />
      </figure>
      <div class="card-body text-center">
        <h2 class="text-3xl font-semibold my3">
          {{ "SPECIALTY.CARDS.LABOUR.TITLE" | translate }}
        </h2>
        <p>{{ "SPECIALTY.CARDS.LABOUR.SUBTITLE" | translate }}</p>
      </div>
    </div>
    <div class="card card-compact w-96 bg-base-100 shadow-xl">
      <figure>
        <img
          src="../../../assets/images/criminal.jpg"
          alt="Shoes"
          loading="lazy"
          class="max-w-[400px] h-[280px]"
        />
      </figure>
      <div class="card-body text-center">
        <h2 class="text-3xl font-semibold my3">
          {{ "SPECIALTY.CARDS.PENAL.TITLE" | translate }}
        </h2>
        <p>{{ "SPECIALTY.CARDS.PENAL.SUBTITLE" | translate }}</p>
      </div>
    </div>
    <div class="card card-compact w-96 bg-base-100 shadow-xl">
      <figure>
        <img
          src="../../../assets/images/tax.jpg"
          alt="Shoes"
          loading="lazy"
          class="max-w-[400px] h-[280px]"
        />
      </figure>
      <div class="card-body text-center">
        <h2 class="text-3xl font-semibold my3">
          {{ "SPECIALTY.CARDS.FISCAL.TITLE" | translate }}
        </h2>
        <p>{{ "SPECIALTY.CARDS.FISCAL.SUBTITLE" | translate }}</p>
      </div>
    </div>
    <div class="card card-compact w-96 bg-base-100 shadow-xl">
      <figure>
        <img
          src="../../../assets/images/civil.jpg"
          alt="Shoes"
          loading="lazy"
          class="max-w-[400px] h-[280px]"
        />
      </figure>
      <div class="card-body text-center">
        <h2 class="text-3xl font-semibold my3">
          {{ "SPECIALTY.CARDS.CIVIL.TITLE" | translate }}
        </h2>
        <p>{{ "SPECIALTY.CARDS.CIVIL.SUBTITLE" | translate }}</p>
      </div>
    </div>
    <div class="card card-compact w-96 bg-base-100 shadow-xl">
      <figure>
        <img
          src="../../../assets/images/corporate.jpg"
          alt="Shoes"
          loading="lazy"
          class="max-w-[400px] h-[280px]"
        />
      </figure>
      <div class="card-body text-center">
        <h2 class="text-3xl font-semibold my3">
          {{ "SPECIALTY.CARDS.CORPORATE.TITLE" | translate }}
        </h2>
        <p>{{ "SPECIALTY.CARDS.CORPORATE.SUBTITLE" | translate }}</p>
      </div>
    </div>
    <div class="card card-compact w-96 bg-base-100 shadow-xl">
      <figure>
        <img
          src="../../../assets/images/family.png"
          alt="Shoes"
          loading="lazy"
          class="max-w-[400px] h-[280px]"
        />
      </figure>
      <div class="card-body text-center">
        <h2 class="text-3xl font-semibold my3">
          {{ "SPECIALTY.CARDS.FAMILY.TITLE" | translate }}
        </h2>
        <p>{{ "SPECIALTY.CARDS.FAMILY.SUBTITLE" | translate }}</p>
      </div>
    </div>
  </div>
</div>
