<div class="container mx-auto p-20">
  <div class="text-center">
    <h1 class="text-3xl">Working Process</h1>
    <h2 class="text-6xl font-semibold p-10">
      Bold Approaches Expert Counsel<br />
      Results that Matter
    </h2>
  </div>

  <div
    class="flex max-md:flex-col justify-between align-middle max-md:items-center my-5"
  >
    <div class="py-3">
      <div class="avatar">
        <div class="mask mask-hexagon w-24">
          <img src="/assets/images/suitcase_bg_orange.png" />
        </div>
      </div>
      <h3 class="text-3xl font-semibold py-3">Received Case</h3>
      <p class="text-xl">
        Male heaven they're brought day from <br />fight man evenings starts
        from fourth.
      </p>
    </div>
    <div class="max-md:grid max-md:grid-cols py-3">
      <h3 class="text-3xl font-semibold py-3 max-md:order-2">Received Case</h3>
      <p class="text-xl max-md:order-3">
        Male heaven they're brought day from <br />fight man evenings starts
        from fourth.
      </p>
      <div class="avatar pt-3 max-md:order-1">
        <div class="mask mask-hexagon w-24">
          <img src="/assets/images/file_bg_orange.png" />
        </div>
      </div>
    </div>
    <div class="py-3">
      <div class="avatar">
        <div class="mask mask-hexagon w-24">
          <img src="/assets/images/search_bg_orange.png" />
        </div>
      </div>
      <h3 class="text-3xl font-semibold py-3">Received Case</h3>
      <p class="text-xl">
        Male heaven they're brought day from <br />fight man evenings starts
        from fourth.
      </p>
    </div>
    <div class="max-md:grid max-md:grid-cols py-3">
      <h3 class="text-3xl font-semibold py-3 max-md:order-2">Received Case</h3>
      <p class="text-xl max-md:order-3">
        Male heaven they're brought day from <br />fight man evenings starts
        from fourth.
      </p>
      <div class="avatar pt-3 max-md:order-1">
        <div class="mask mask-hexagon w-24">
          <img src="/assets/images/law_bg_orange.png" />
        </div>
      </div>
    </div>
  </div>
</div>
