<div class="flex h-[10rem] md:h-[25rem] items-center masthead shadow">
  <div class="container mx-auto text-center p-10">
    <h1
      class="text-4xl font-semibold md:text-5xl lg:text-6xl tracking-wide text-white my-1 py-2"
    >
      Book a Consultation
    </h1>
    <p
      class="text-xl md:text-2xl lg:text-3xl tracking-wide text-white my-1 font-semibold py-2"
    >
      Call Tell: +1 (123)1234 546
    </p>
    <p
      class="text-xl md:text-2xl lg:text-3xl tracking-wide text-white my-1 font-semibold py-2"
    >
      abg.abogados&#64;gmail.com | Mon-Friday 09:00 - 17:00
    </p>
  </div>
</div>
