<div class="min-h-screen flex flex-col justify-center">
  <div class="text-center">
    <h1 class="text-3xl md:text-6xl font-semibold">
      {{ "CONTACT.TITLE" | translate }}!
    </h1>
  </div>
  <div class="flex max-md:flex-col flex-row items-center justify-around p-16">
    <div class="p-8">
      <div>
        <p class="py-3">
          {{ "CONTACT.SUBTITLE" | translate }}
        </p>
      </div>
      <div
        class="flex max-md:flex-col max-md:items-center justify-around py-8 bg-slate-100"
      >
        <div class="px-8">
          <img src="../../../assets/icons/phone.svg" alt="phone icon" />
          <p class="font-bold">
            {{ "CONTACT.ADDRESS.CALL" | translate }}
          </p>
        </div>
        <div class="max-md:text-center">
          <p class="font-bold">06.65.65.32.22.22</p>
          <p class="font-bold">Phone ours:</p>
          <p class="font-bold">Monday - Friday</p>
          <p class="font-thin">9:00 am-6:00 pm</p>
          <p class="font-thin">
            Av. José López Portillo 339, Mercado Donceles, 77524 Cancún, Q.R.,
            México
          </p>
        </div>
      </div>
    </div>

    <a
      href="https://www.google.com/maps/place/ABG+Abogados+-+Practix+Corporativo/@21.1789854,-86.8162678,17z/data=!3m1!4b1!4m6!3m5!1s0x8f4c2fd4ce05860f:0xa634a00738673d6b!8m2!3d21.1789854!4d-86.8162678!16s%2Fg%2F11f75z8cbz?hl=es-419&entry=ttu&g_ep=EgoyMDI0MTIxMS4wIKXMDSoASAFQAw%3D%3D"
      ><img
        src="../../../assets/images/map.png"
        alt="lawyers"
        class="basis-1/2 object-cover h-96 w-96"
    /></a>
  </div>
</div>
