<div class="pt-20 min-h-screen">
  <div
    class="flex max-md:flex-col flex-row items-center justify-between px-16 md:py-16"
  >
    <div class="text-center basis-1/2 sm:px-8">
      <h1 class="text-3xl md:text-6xl font-semibold text-center py-8">
        {{ "ABOUT.TITLE" | translate }}
      </h1>
      <p>{{ "ABOUT.DESCRIPTION" | translate }}</p>
      <br />
      <p>{{ "ABOUT.DESCRIPTION.INFO" | translate }}</p>
    </div>
    <img
      src="../../../assets/images/team.jpg"
      alt="lawyers"
      class="basis-1/2 object-cover h-96 w-96"
    />
  </div>
  <div class="flex max-md:flex-col align-middle justify-evenly p-16">
    <div class="max-md:p-6 p-2">
      <div class="flex justify-start py-2">
        <img
          src="../../../assets/icons/experience.svg"
          alt=""
          class="h-20 mr-5"
        />
        <h3 class="text-3xl font-semibol">
          {{ "ABOUT.TITLE.CARD.EXPERTISE" | translate }}
        </h3>
      </div>
      <P>{{ "ABOUT.DESCRIPTION.CARD.EXPERTISE" | translate }}</P>
    </div>
    <div class="max-md:p-6 p-2">
      <div class="flex justify-start py-2">
        <img src="../../../assets/icons/pro.svg" alt="" class="h-20 mr-5" />
        <h3 class="text-3xl font-semibol">
          {{ "ABOUT.TITLE.CARD.PROFESSIONALISM" | translate }}
        </h3>
      </div>
      <P>{{ "ABOUT.DESCRIPTION.CARD.PROFESSIONALISM" | translate }}</P>
    </div>
    <div class="max-md:p-6 p-2">
      <div class="flex justify-start py-2">
        <img src="../../../assets/icons/service.svg" alt="" class="h-20 mr-5" />
        <h3 class="text-3xl font-semibol">
          {{ "ABOUT.TITLE.CARD.SERVICE" | translate }}
        </h3>
      </div>
      <P>{{ "ABOUT.DESCRIPTION.CARD.SERVICE" | translate }}</P>
    </div>
  </div>
</div>
