<div
  id="services"
  class="min-h-screen flex flex-col justify-center items-center p-16"
>
  <div class="">
    <div class="text-center my-8">
      <h1 class="text-3xl md:text-6xl tracking-wide font-semibold">
        {{ "SERVICES.TITLE" | translate }}
      </h1>
    </div>

    <div class="max-sm:flex-col sm:px-10 md:px-20 lg:px-32 text-center">
      <p class="btn md:btn-md lg:btn-lg">
        <a [routerLink]="['/legal-services']">
          {{ "SERVICES.BUTTON.LABEL" | translate }}</a
        >
      </p>
      <p class="text-3xl md:text-2xl">{{ "SERVICES.SUBTITLE" | translate }}</p>
    </div>
  </div>

  <div
    class="flex max-md:flex-col items-center justify-center text-center py-10"
  >
    <div
      class="box flex flex-col items-center justify-center text-center h-full p-3"
    >
      <img src="../../../assets/icons/building.svg" alt="building icon" />
      <h3 class="text-white text-2xl font-semibold my-2">
        {{ "SERVICES.TITLE.CARD.ANALIZE" | translate }}
      </h3>
      <p class="text-white">
        {{ "SERVICES.DESCRIPTION.CARD.ANALIZE" | translate }}
      </p>
    </div>
    <div
      class="box2 flex flex-col items-center justify-center text-center h-full p-3"
    >
      <img src="../../../assets/icons/suitcase.svg" alt="suitcase icon" />
      <h3 class="text-white text-2xl font-semibold my-2">
        {{ "SERVICES.TITLE.CARD.STEPS" | translate }}
      </h3>
      <p class="text-white">
        {{ "SERVICES.DESCRIPTION.CARD.STEPS" | translate }}
      </p>
    </div>
    <div
      class="box flex flex-col items-center justify-center text-center h-full p-3"
    >
      <img src="../../../assets/icons/document.svg" alt="document icon" />
      <h3 class="text-white text-2xl font-semibold my-2">
        {{ "SERVICES.TITLE.CARD.SUCCESS" | translate }}
      </h3>
      <p class="text-white">
        {{ "SERVICES.DESCRIPTION.CARD.SUCCESS" | translate }}
      </p>
    </div>
  </div>
</div>
